// background colors
$primary-background-color: #ffffff;
$primary-theme-color: #de0b0b;
$default-hover-color: #f0f0f0;

// fonts

$primary-font: 'Inter', sans-serif;

// outlines
$outline-color-1: #737373;
$outline-color-2: #141414;
$outline-color-3: #777777;
$outline-color-4: #e9ecef;

//Typography

// font color

$primary-white-font-color: #ffffff;
$white-font-color: white;
